<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Edit Blog</title>
</head>
<body>
    <h1>Edit Blog</h1>
    <form action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
        <label>Title:</label>
        <input type="text" name="blog[title]" value="<%= blog.title %>" required>
        <label>Image URL:</label>
        <input type="text" name="blog[image]" value="<%= blog.image %>" required>
        <label>Body:</label>
        <textarea name="blog[body]" required><%= blog.body %></textarea>
        <input type="submit" value="Update Blog">
    </form>
</body>
</html>

